@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* ... */
    --color-secondary: #009B4D;
    --color-Tertiary: #FFCC00;
    --color-primary: #FAF5E9;
    --font-poppins: "Poppins", sans-serif; 
  }

  .card{
    @apply  w-48 h-64 shadow-lg rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl
  }  

  .cardTitle{
    @apply text-3xl px-8 pt-8 pb-2 font-semibold text-white 
  }